.page-welcome {
  .wpage {
    height: 100%;
    width: 100%;
    padding: 25px 16px 16px;
    background-size: cover;
    display: block;
  position: relative
  }
   .item-checkbox{
     .item-inner{
     border-bottom: 0 !important;
    box-shadow: none !important
 }
   }
}
